body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img{
    display: block;
}

.head{
    border-bottom: 1px solid #e7e9fc;
}

.nav{
    display: flex;
    align-items: center;
}

.headinfo{
    display: flex;
}

.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.something{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}

.maintittle{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.menu{
    display: flex;
    gap: 40px 
}

.studio{
    color: #2e2f42;
}

.description{
    display: flex; 
    gap: 24px;
}

.lidescription{
    width: calc((100% - 72px) / 4);
}

.navigation{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.navigation:hover,
.navigation:focus{
    color: #404bbf;
}

address{
    font-style: normal;
}
.adress{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.adress:hover,
.adress:focus{
    color: #404bbf;
 }

 /* Стиль для заголовку */
 .sec {
    background-color: #2e2f42;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding: 188px 0;
  }

  /* Стиль для кнопки */
  .button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block; 
    min-width: 169px;
    height: 56px;
    border: none;
    background-color:#4d5ae5;
    border-radius: 4px;
    cursor: pointer;
  }

   /* Стиль для кнопки при наведенні */
   .button:hover,
   .button:focus {
     background-color: #404BBF;
   }

   .second{
    color: #2e2f42;
    padding: 120px 0;
   }

   .title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
   }

   .paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
   }

   .team{
    background-color: #F4F4FD;
   }

   .team h2{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
   }

   .list{
    background-color: #FFFFFF;
   }

   footer .studio{
    color: #F4F4FD;
   }

   .foot{
    background-color: #2e2f42;
   }

   footer p{
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
   }

   .contacts{
    color: #434455;
   }

   .contacts:hover{
    color: #404bbf;
   }
   .contacts:focus{
    color: #404bbf;
   }